html {
  background-color: #392f63;
}

button {
  background-color: #271a5c;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #3d2c86;
}

button:disabled {
  background-color: #b3b3b3;
  color: #666;
  cursor: not-allowed;
}
